.layout {
  position: relative;
  background: #f7f7f7;
  height: 810px;
  border-radius: 16px;
}

.three-dots {
  width: 20px;
  height: 20px;
  vertical-align: -0.325em;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu
  .ant-menu-item
  .ant-menu-item-icon {
  vertical-align: -0.325em;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon {
  vertical-align: -0.325em;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-light
  .ant-menu-item-selected {
  background-color: #ff7506;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu .ant-menu-item {
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-vertical .ant-menu-item {
  margin-inline: 0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-light
  .ant-menu-item-selected {
  color: #ffffff !important;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-vertical .ant-menu-item {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-submenu-popup
  .ant-menu-vertical.ant-menu-sub:not([class*="-active"]) {
  overflow-y: hidden;
  position: relative;
  width: 200px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):active,
:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-light
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #ff7506;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-submenu-popup
  .ant-menu-vertical
  .ant-menu-item {
  margin-inline: 0;
  width: 100%;
  margin-block: 0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu .ant-menu-submenu-title {
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-menu-vertical
  .ant-menu-submenu-title {
  width: calc(100% - 4px);
}
