.title-device {
  position: absolute;
  width: 300px;
  height: 36px;
  left: 224px;
  top: 104px;
}

.list-device-active-status {
  position: absolute;
  width: 300px;
  height: 72px;
  left: 224px;
  top: 156px;
  display: flex;
  flex-direction: column;
}

.connection-status {
  position: absolute;
  width: 300px;
  height: 72px;
  left: 548px;
  top: 156px;
  display: flex;
  flex-direction: column;
}

.search-with-keyword {
  position: absolute;
  width: 300px;
  height: 72px;
  left: 1036px;
  top: 156px;
  display: flex;
  flex-direction: column;
}

.add-device-btn {
  position: absolute;
  left: 1360px;
  top: 244px;
}

.table-device-list {
  position: absolute;
  width: 1112px;
  height: 490px;
  left: 224px;
  top: 244px;
}

.device-status-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 152px;
  height: 49px;
}

.device-status-connection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 131px;
  height: 49px;
}

.device-status-eclipse {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.device-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 212px;
  height: 49px;
  white-space: nowrap;
  overflow: hidden;
}

.device-ip {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 49px;
}

.device-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 87px;
  height: 49px;
}

.device-key {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75px;
  height: 49px;
}

.service-show-more {
  width: 394px !important;
  border: 1px solid #ffc89b;
  border-radius: 8px;
  padding: 0;
  top: 200px;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 0 0 0 17px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #ff9138;
  padding-right: 0;
}

.ant-pagination .ant-pagination-item-active a {
  color: #ffffff !important;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #ff7506;
  border-color: transparent;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: transparent;
  opacity: 0.8;
}

.ant-pagination .ant-pagination-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.ant-pagination .ant-pagination-item a {
  color: #7e7d88;
}

.ant-modal .ant-modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
}
