.top-bar {
  position: absolute;
  width: 1240px;
  height: 88px;
  left: 200px;
  top: 0px;
}

.frame-271 {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 260px;
  top: 28px;
  border-radius: 32px;
  z-index: 1;
}

.frame-271:hover {
  cursor: pointer;
  background-color: #ff7506;
}

.frame-271:hover .noti-icon {
  color: #ffffff;
}

.noti-icon {
  position: absolute;
  font-size: 20px;
  left: 6px;
  top: 6px;
}

.topbar-info {
  position: absolute;
  width: 172px;
  height: 42px;
  left: 1004px;
  top: 24px;
  z-index: 1;
}

.group-296 {
  position: absolute;
  width: 150px;
  height: 42px;
  left: 48px;
  top: 0px;
  display: flex;
  flex-direction: column;
}

.small-avatar {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 132px;
  top: 0px;
  border-radius: 48px;
}

.breadcrumb {
  position: absolute;
  height: 40px;
  left: 24px;
  top: 24px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-breadcrumb a:hover {
  color: #ff7506 !important;
  background-color: #f7f7f7;
}

.last-breadcrumb {
  color: #ff9138 !important;
}
