.calendar {
  width: 353px;
  height: 336px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background: #ff7506;
  color: #ffffff;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: none;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-calendar-header {
  justify-content: center;
}

.ant-picker-content thead tr th {
  color: #ff9138 !important;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 19px !important;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell-in-view {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 19px;
  color: #535261;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-picker-calendar
  .ant-picker-cell {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
