.dashboard-frame {
  position: absolute;
  width: 48px;
  height: 48px;
}

.eclipse-10 {
  opacity: 0.15;
  border: 1px solid #dadada;
  border-radius: 50%;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
}
