.forgot {
  position: relative;
  height: 810px;
}

.bg {
  background: #f7f7f7;
  border-radius: 16px;
}

.logo {
  position: absolute;
  width: 170px;
  height: 136px;
  left: 208px;
  top: 82px;
  z-index: 1;
}

.btn-continue {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 304px;
  top: 483px;
}

.btn-cancel {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 118px;
  top: 483px;
  border: 1px solid #ff9138;
}

.btn-confirm {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 219px;
  top: 579px;
}

.group-322 {
  position: absolute;
  width: 400px;
  height: 75px;
  left: 94px;
  top: 360px;
}

.group-323 {
  position: absolute;
  width: 400px;
  height: 75px;
  left: 94px;
  top: 365px;
}

.title-1 {
  position: absolute;
  left: 14.51%;
  right: 73.68%;
  top: 39.51%;
  bottom: 57.53%;
  margin: 0;
}

.title-2 {
  position: absolute;
  left: 13.75%;
  right: 71.6%;
  top: 39.51%;
  bottom: 56.42%;
  margin: 0;
}

.sub-title {
  display: inline-block;
  width: 400px;
  text-align: center;
}

.frame {
  position: absolute;
  width: 711px;
  height: 560px;
  left: 635px;
  top: 153px;
  z-index: 1;
}

.frame-624730 {
  position: absolute;
  width: 400px;
  height: 75px;
  left: 94px;
  top: 456px;
}
