body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* spin */
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* bg */
.bg-white {
  background: #ffffff;
}

.bg-green {
  background: #35c75a;
}

.bg-yellow {
  background: #ffd130;
}

.bg-gray-300 {
  background: #7e7d88;
}

.bg-gray-50 {
  background: #eaeaec;
}

.bg-gray-2 {
  background: #6c7585;
}

.bg-orange-500 {
  background: #ff7506;
}

.bg-orange-400 {
  background: #ff9138;
}

.bg-orange-50 {
  background: #fff2e7;
}

.bg-blue {
  background: #5185f7;
}

.bg-red {
  background: #e73f3f;
}

.bg-fuschia-50 {
  background: #f178b6;
}

/* text */
.orange-500 {
  color: #ff7506 !important;
}

.orange-400 {
  color: #ff9138;
}

.orange-300 {
  color: #ffac6a;
}

.orange-50 {
  color: #fff2e7;
}

.gray-5 {
  color: #535261;
}

.black {
  color: #37474f;
}

.red {
  color: #e73f3f;
}

.white {
  color: #ffffff;
}

.green {
  color: #35c75a;
}

.blue {
  color: #4277ff;
}

.gray-500 {
  color: #282739 !important;
}

.gray-400 {
  color: #535261 !important;
}

.gray-300 {
  color: #7e7d88;
}

.gray-200 {
  color: #a9a9b0;
}

.gray-5 {
  color: #535261;
}

/* identical to box height, or 150% */
.text-center {
  text-align: center;
}

.text-underline {
  text-decoration-line: underline !important;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.width-full {
  width: 100% !important;
}

/* reg */
.reg-36-36 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
}

.reg-34-34 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 51px;
}

.reg-18-18 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.reg-16-16 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.reg-14-14 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.reg-12-12 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.reg-8-8 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
}

/* bold */
.bold-56-56 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
}

.bold-32-32 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.bold-30-30 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.bold-24-24 {
  font-family: "Nunito" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 36px !important;
}

.bold-22-22 {
  font-family: "Nunito" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 33px !important;
}

.bold-20-20 {
  font-family: "Nunito" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 30px !important;
}

.bold-16-16 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.bold-14-14 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

/* semi */
.semi-16-16 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 24px;
}

.semi-14-14 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

/* layout */
.auto-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.inside-auto-layout-0 {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inside-auto-layout-1 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* down */
.filter-drop {
  filter: drop-shadow(0px 0px 6px #e7e9f2);
}

.rectangle {
  position: absolute;
  width: 848px;
  height: 810px;
  left: 592px;
  top: 0px;
}

.pink-shadow {
  filter: drop-shadow(2px 2px 15px rgba(70, 64, 67, 0.1));
  border-radius: 12px;
}

.shadow-box {
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-layout-header {
  background: inherit;
}
