.list-service-active-status {
  position: absolute;
  width: 300px;
  height: 72px;
  left: 224px;
  top: 156px;
  display: flex;
  flex-direction: column;
}

.choose-time {
  position: absolute;
  width: 320px;
  height: 72px;
  left: 548px;
  top: 156px;
  display: flex;
  flex-direction: column;
  z-index: 666;
}

.list-service-date-picker {
  height: 44px;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
}

.search-with-keyword {
  position: absolute;
  width: 300px;
  height: 72px;
  left: 1036px;
  top: 156px;
  display: flex;
  flex-direction: column;
}

.add-service-btn {
  position: absolute;
  left: 1360px;
  top: 244px;
}

.table-service-list {
  position: absolute;
  width: 1112px;
  height: 490px;
  left: 224px;
  top: 244px;
}

.service-status-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  gap: 10px;
  width: 152px;
  height: 49px;
}

.service-status-eclipse {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.service-key {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  gap: 10px;
  width: 75px;
  height: 49px;
}

.service-describe {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  gap: 10px;
  width: 152px;
  height: 49px;
}

.service-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  gap: 10px;
  width: 87px;
  height: 49px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  padding: 0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #ff9138;
  padding-right: 0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-pagination
  .ant-pagination-item-active
  a {
  color: #ffffff !important;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-pagination
  .ant-pagination-item-active {
  background-color: #ff7506;
  border-color: transparent;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-pagination
  .ant-pagination-item-active:hover {
  border-color: transparent;
  opacity: 0.8;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-pagination
  .ant-pagination-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-pagination
  .ant-pagination-item
  a {
  color: #7e7d88;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-modal .ant-modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
}
